.participants {
    border: 1px solid white;
    position: absolute;
    left: 1.5%;
    top: 45%;
    height: 52.9vh;
    width: 15rem;
    z-index: 2;
    animation: appear .3s ease-in;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}