.adressMap {
    position: absolute;
    z-index: 5;
    top: 20%;
    left: 50%;
    transform: translate(-50% -50%);
    animation: appear .3s ease-in;
    border: 5px solid rgba(66, 134, 244, 0.6);
    border-radius: 10px;
}

.infoBox {
    position: absolute;
    z-index: 5;
    top: 20%;
    left: 10%;
    transform: translate(-50% -50%);
    height: 45.6rem;
    width: 40rem;
    text-align: center;
    font-size: 1.2rem;
    color: #777777;
    animation: moveInLeft .3s ease-in;
    background-color: transparent;
    padding-top: 2rem;
    border: 5px solid rgba(66, 134, 244, 0.6);
    border-radius: 10px;
}

.infoBox h2{
    padding-bottom: 1rem;
    font-weight: 100;
    margin: 2rem 0;
}




@keyframes moveInLeft {
    0% {
        transform: translateX(-100rem);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*@keyframes moveInRight {*/
    /*0% {*/
        /*transform: translateX(100rem);*/
        /*opacity: 0;*/
    /*}*/

    /*100% {*/
        /*transform: translate(0);*/
        /*opacity: 1;*/
    /*}*/
/*}*/