.hex1 {
    position: absolute;
    left: 50.5%;
    top: 23%;
    filter: drop-shadow(0 0.5rem 1rem black);
    transition: all .2s ease-in;
    animation: moveHex1 0.5s ease-out;
}


.hex1:hover{
    filter: drop-shadow(0 1rem 2rem  #fa0000);
    transform: translateY(-1px);
}

.hex1:hover h3{
    color: #ffb8b8;
}

.hex2 {
    position: absolute;
    left: 38.5%;
    top: 23%;
    filter: drop-shadow(0 0.5rem 1rem black);
    transition: all .2s ease-in;
    animation: moveHex2 0.5s ease-out;
}

.hex2:hover h3{
    color:#ffda75;
}

.hex2:hover{
    filter: drop-shadow(0 1rem 2rem   #f5b400);
    transform: translateY(-1px);
}

.hex3 {
    position: absolute;
    left: 56.5%;
    top: 43%;
    filter: drop-shadow(0 0.5rem 1rem black);
    transition: all .2s ease-in;
    animation: moveHex3 0.5s ease-out;
}
.hex3:hover{
    filter: drop-shadow(0 1rem 2rem  #9b0d8f);
    transform: translateY(-1px);
}

.hex3:hover h3{
    color:#f7a1f0;
}

.hex4 {
    position: absolute;
    left: 32.5%;
    top: 43%;
    filter: drop-shadow(0 0.5rem 1rem black);
    transition: all .2s ease-in;
    animation: moveHex4 0.5s ease-out;
}

.hex4:hover{
    filter: drop-shadow(0 1rem 2rem  #e9f500);
    transform: translateY(-1px);
}

.hex4:hover h3{
    color:#ffff75;
}

.hex5 {
    position: absolute;
    left: 50.5%;
    top: 63%;
    filter: drop-shadow(0 0.5rem 1rem black);
    transition: all .2s ease-in;
    animation: moveHex5 0.5s ease-out;
}

.hex5:hover{
    filter: drop-shadow(0 1rem 2rem  #098e95);
    transform: translateY(-1px);
}

.hex5:hover h3{
    color:#9af4f9;
}

.hex6 {
    position: absolute;
    left: 38.5%;
    top: 63%;
    filter: drop-shadow(0 .5rem 1rem black);
    transition: all .2s ease-in;
    animation: moveHex6 0.5s ease-out;
}

.hex6:hover{
    filter: drop-shadow(0 1rem 2rem  rgba(72, 142, 11, 1));
    transform: translateY(-1px);
}

.hex6:hover h3{
    color:#aef471;
}

.hex7 {
    position: absolute;
    left: 44.5%;
    top: 43%;
    filter: drop-shadow(0 0.5rem 1rem black);
    animation: moveHex7 0.5s ease-in;
    transition: all .2s ease-in;
}

.inside {
    width: 15rem;
    height: 15rem;
    background: rgba(145, 145, 145, 1);
    position: absolute;
    clip-path: polygon(50% 0%, 100% 23%, 100% 77%, 50% 100%, 0 77%, 0 23%);
}

.stripe1 {
    position: absolute;
    width: 22rem;
    height: 22rem;
    left: -73%;
    top: 60%;
    transform: rotate(-65deg);
    background: linear-gradient(to top, #fa0000, #ffb8b8);
}

.stripe2 {
    position: absolute;
    width: 22rem;
    height: 22rem;
    left: 26%;
    top: 60%;
    transform: rotate(65deg);
    background: linear-gradient(to top, #ffe9c7, #f5b400);
}

.stripe3 {
    position: absolute;
    width: 22rem;
    height: 22rem;
    left: -122%;
    background: linear-gradient(to left top, #9b0d8f, white);
}

.stripe4 {
    position: absolute;
    width: 22rem;
    height: 22rem;
    left: 76%;
    background: linear-gradient(to top, white, #e9f500);

}

.stripe5 {
    position: absolute;
    width: 22rem;
    height: 22rem;
    left: -76%;
    top: -106%;
    transform: rotate(65deg);
    background: linear-gradient(to top, #098e95, #9af4f9);
}

.stripe6 {
    position: absolute;
    width: 22rem;
    height: 22rem;
    left: 25%;
    top: -108%;
    transform: rotate(-65deg);
    background: linear-gradient(to top, #aef471, #488e0b);
}

@keyframes moveHex1 {
    0% {transform: translateX(10rem) translateY(-10rem);opacity: 0}
    100% {transform: translate(0);opacity: 1}
}

@keyframes moveHex2 {
    0% {transform: translateX(-10rem) translateY(-10rem);opacity: 0}
    100% {transform: translate(0);opacity: 1}
}

@keyframes moveHex3 {
    0% {transform: translateX(10rem);opacity: 0}
    100% {transform: translate(0);opacity: 1}
}

@keyframes moveHex4 {
    0% {transform: translateX(-10rem);opacity: 0}
    100% {transform: translate(0);opacity: 1}
}

@keyframes moveHex5 {
    0% {transform: translateX(10rem) translateY(10rem);opacity: 0}
    100% {transform: translate(0);opacity: 1}
}

@keyframes moveHex6 {
    0% {transform: translateX(-10rem) translateY(10rem);opacity: 0;}
    100% {transform: translate(0);opacity: 1}
}

@keyframes moveHex7 {
    0% {opacity: 0}
    100% {opacity: 1}
}

.textPrimary {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: 0.5rem;
    text-align: center;
    color: white;
}

.textSecondary {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    color: white;
}

.hex6 h3 {
    position: absolute;
    color: #ededed;
    top: 41%;
    left: 8%;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 1px;
    transform: rotate(25deg);

}

.hex5 h3 {
     position: absolute;
     color: #ededed;
     top: 43%;
     left: 15%;
     text-transform: uppercase;
     font-size: 2rem;
     font-weight: 100;
     letter-spacing: 1px;
     transform: rotate(-25deg);

 }

.hex7 h3 {
    position: absolute;
    color: #ededed;
    top: 40%;
    left: 20%;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 1px;
}

.hex7 h4 {
    position: absolute;
    color: #ededed;
    top: 55%;
    left: 32%;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 1px;

}

.hex2 h3 {
    position: absolute;
    color: #ededed;
    top: 40%;
    left: 18%;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 1px;
    transform: rotate(-25deg);
}

.hex1 h3 {
    position: absolute;
    color: #ededed;
    top: 40%;
    left: 25%;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 1px;
    transform: rotate(25deg);
    z-index: 100;
}

.hex4 h3 {
    position: absolute;
    color: #ededed;
    top: 40%;
    left: 18%;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 1px;
    transform: rotate(90deg);
}

.hex3 h3 {
    position: absolute;
    color: #ededed;
    top: 40%;
    left: 20%;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 1px;
    transform: rotate(90deg);
}

.hex1:hover {
    color: #fa0000;
}

.title{
    height: 15rem;
    width: 65rem;
    background-color: rgba(145, 145, 145, 1);
    display: inline-block;
    /*filter: drop-shadow(0 2rem 3rem  white);*/
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    margin-top: 1rem;
}

.titleOuter{
    display: inline-block;
    filter: drop-shadow(0 0.5rem 1rem black);
    animation: moveTitle 0.5s ease-out;
}

@keyframes moveTitle {
    0% {transform: translateY(-10rem);opacity: 0}
    100% {transform: translate(0);opacity: 1}
}

